
body {
   margin-top: 40px;
}
.navbar {
   min-height: 42px;
   border-bottom-right-radius: : 10px;
   border-bottom-left-radius: 5px;
}


/*Contains news-feed*/
#wrapper {
   margin-top: 16px;
   margin-bottom: 16px;
   margin-right: 0px;
   margin-left: -15px;
   padding: 0;
}

#main {
   height: 600px;
}

#sidebar {
   height: 600px;
   /*background-color: #e9ebee;*/
}

#menu{
   height: 600px;
   background-color: #e9ebee;
}

#menu a {
   color: rgba(0, 0, 0, .80);
   font-size: 13px;
   padding-left: 20px;
   padding-bottom: 0px;
   padding-top: 10px;
}

#menu ul .glyphicon {
   padding-right: 7px;
   font-size: 14px;
}

#menu .side-heading {
   color: rgba(88, 88, 88, .7);
   font-size: 13px;
}

#menu p {
   font-weight: bold;
   color: rgba(0, 0, 0, 0.6);
}

#menu li {
   color: #1D2129;
}

#menu > li > a:hover {
   color: #1D2129;
}

#navigation-bar {
   background-color: #4267b2;
   height: 42px;
   border: 0px;

}

#requests {
   display: none;
}

#message {
   display: none;
}

#notifications {
   display: none;
}

#help_navbar {
   display: none;
}

#see_more {
   display: none;
}

@media (max-width : 768px){

   #bs-example-navbar-collapse-1 {
      background-color: rgba(0, 0, 0, .7);
   }

   #search, #search-btn, #display-image, form{
      display: none;
   }

   #search {
      width: 250px;
   }

   #requests {
      display: inline;
      margin-left: 10px;
   }

   #message {
      display: inline;
      margin-left: 10px;
   }

   #notifications {
      display: inline;
      margin-left: 5px;
   }

   #help_navbar {
      display: inline;
      margin-left: 22px;
   }

   #see_more {
      display: inline;
      margin-right: 10px;
   }

}

/*An item on Navigation Bar*/
.element {
   margin-top: 4px;
   padding: 3px 12px 3px 12px;
}

#search-btn {
   margin-top: 0px;
   margin-left: 0px;
   position: relative;
   left: -10px;
   border-left: 0px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}

.white-text {
   color: white !important;
}

.white-text:hover {
   color: lightgray !important;
}

/*Logo*/
#brand-img {
   width: 30px;
   height: 30px;
   padding: 0;
   margin-top: -1px;
   border-radius: 3px;
}

/*Profile Picture of User*/
#display-image {
   width: 30px;
   height: 30px;
   padding: 0;
   margin-top: 6px;
   border-radius: 50%;
}

/*Menu display-image*/
#side-display-image {
   border-radius:0px;
   margin-right:7px;
   height:25px;
   width: 25px;
}

.navbar-brand {
   padding: 7px 0px 5px 15px;
}

/*Border around menu*/
.border {
   border-right: 1px solid gray;
   height: 28px;
   padding-top: 5px !important;
   margin-top: 5px;
}

.navbar-nav > li > a {
   padding-top: 10px;
}

header ul .glyphicon {
   font-size: 18px;
}

/*Search Box*/
#search {
   width: 450px;
   height: 28px;
}


@media (max-width : 1200px) {
   #search {
      width: 350px;
   }
}

@media (max-width : 992px) {
   #search {
      width: 140px;
   }
}


.side-heading {
   padding: 20px 15px 0px 15px;
}

.badge {
   background-color: #e9ebee;
   color: #23527c;
}

/*Glyphicon on Badges*/
.glyph-badge {
   padding: 2px 3px;
   position: relative;
   top: -13px;
   left: -5px;
   background-color: red;
   border-radius: 3px;
}

.panel-body .glyphicon {
   margin-left: 8px;
   margin-right: 4px;
}

.text-post {
   margin-top: 0;
   margin-bottom: 15px;
}

.image-post {
   margin-bottom: 15px;
   height: 300px;
   width: 535px;
}

@media (max-width : 1200px) {
   .image-post {
      margin-bottom: 15px;
      height: 230px;
      width: 440px;
   }
}

@media (max-width : 992px) {
   .image-post {
      margin-bottom: 15px;
      height: 250px;
      width: 440px;
   }
}

@media (max-width : 768px) {
   .image-post {
      margin-bottom: 15px;
      height: 200px;
      width: 310px;
   }
}




#main, #sidebar {
   overflow: auto;
}

#main::-webkit-scrollbar {
   display: none;
}

#sidebar::-webkit-scrollbar {
   display: none;
}

#sidebar .glyphicon-signal {
   font-size: 14px;
   color: #4267b2;
}

.post-image {
   width: 33px;
   height: 33px;
   margin-right: 4px;
}

/*Comment User Image*/
.comment-display-image {
   width: 32px;
   height: 32px;
   margin-right: 10px;
}

.media-list {
   margin-top: 10px;
}

#comment-box {
   width: 470px;
   margin-top: 12px;
}

@media (max-width : 1200px) {
   #comment-box {
      width: 390px;
   }
}

@media (max-width : 992px) {
   #comment-box {
      width: 390px;
   }
}

@media (max-width : 768px) {
   #comment-box {
      width: 250px;
   }
}

.comment-count {
   margin-bottom: 5px;
   padding: 5px;
}

.comment {
   margin: 0;
}

.news-item {
   margin-top: 20px;
}

.heading {
   padding-left: 10px;
   font-size: 15px;
   position: relative;
   top: 8px;
}

/*Suggested Panel Sidebar*/
#suggested-pages {
   border: 1px solid lightgray;
   padding: 4px;
}

#carousel-example-generic {
   height: 150px;
   text-align: center;
}

/*Birthday's Panel Sidebar*/
#birthday {
   border: 1px solid lightgray;
   padding: 4px;
   margin-bottom: 15px;
}
